# Archivos de sistema Mac
.DS_Store
._*

# Python y Jupyter
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Archivos de datos
*.db
# Comenta o borra la línea *.csv para que suba todo lo de la carpeta Data
# *.csv